{% extends "index.html" %}

{% block content %}
    
    <header class="header">
        <div class="header-content container" id="header-content">
            <div class="header-txt">
                <h1>Camino sin <br> <span>Limites</span></h1>
                <p>
                    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt
                </p>
                <div class="buttons">
                    <a href="#" class="btn-1"> Informacion </a>
                </div>
            </div>
            <div class="header-img">
                <img src="static/img/h1.png" alt="">
            </div>
        </div>
    </header>

    {% if session['role'] == 'superadmin' %}

        <h1 class="seccion-header">Contenido exclusivo para super administrador</h1>

        <button class="btn" id="loginBtn"><a href="/viewAdmins">Ver Administradores</a></button>

        <button class="btn" id="loginBtn"><a href="/viewCompanies">Ver Empresas</a></button>

        <button class="btn" id="loginBtn"><a href="/viewApplicants">Ver Solicitantes</a></button>

        <button class="btn" id="loginBtn"><a href="/viewVacancies">Ver Vacantes</a></button>

        <button class="btn" id="loginBtn"><a href="/viewDisabilities">Ver Discapacidades</a></button>

    {% elif session['role'] == 'admin' %}
    
        <h1  class="seccion-header">Bienvenido administrador</h1>    

        <button class="btn" id="loginBtn"><a href="/viewCompanies">Ver Empresas</a></button>

        <button class="btn" id="loginBtn"><a href="/viewApplicants">Ver Solicitantes</a></button>

        <button class="btn" id="loginBtn"><a href="/viewDisabilities">Ver Discapacidades</a></button>

    
    {% elif session['role'] == 'company' %}
    
        <h1  class="seccion-header">Bienvenido al menú de compañia</h1>  

        <button class="btn" id="loginBtn"><a href="/viewVacancies">Ver Vacantes</a></button>

        <button class="btn" id="loginBtn"><a href="/viewVideos">Ver Videos</a></button>
    
    {% elif session['role'] == 'applicant' %}
    
        <h1  class="seccion-header">Bienvenido al menú de solicitantes</h1>  

        <button class="btn" id="loginBtn"><a href="/viewCompanies">Ver Empresas</a></button>

        <button class="btn" id="loginBtn"><a href="/viewVacancies">Ver Vacantes</a></button>

    {% else %} <!--Contenido para usuarios no registrados-->

        <section class="nosotros container">
            <div class="nosotros-img">
                <img src="https://i.pinimg.com/236x/ee/a8/fa/eea8facd472c650aa2467fbe96e86141.jpg" alt="">
            </div>
            <div class="nos-txt">
                <h2>Nosotros</h2>
                <p>
                    Esta es una página web guiada a faciliar la forma en la que se busca trabajo,
                    en este caso sera guiado a las personas que tengan algun tipo de discapacidad
                    puedan encontrar un trabajo dependiendo sus habilidades y sus limitaciones.
                </p>
            </div>
        </section>

        <section class="seccion-container intro__container">
            <h2 id="service" class="seccion-header">SERVICIOS</h2>
            <div class="intro__grid">
                <div class="intro__card">
                    <div class="intro__icon">
                        <i class='bx bx-handicap' height="1200px"></i>
                    </div>
                    <h4>Solicitantes</h4>
                    <p>
                        Los solicitantes podran ver las vacantes que hay en las empresas y enviar su
                        solicitud de empleo.
                    </p>
                    <a href="#">saber mas</a>
                </div>
                <div class="intro__card">
                    <div class="intro__icon">
                        <i class='bx bx-copy-alt'></i>
                    </div>
                    <h4>Empresas</h4>
                    <p>
                        Las empresas podran ver las solicitudes que llegan a las vacates y seleccionar
                        a las personas que consideren mas calificadas para el puesto.
                    </p>
                    <a href="#">saber mas</a>
                </div>
                
                <!-- <div class="intro__card">
                    <div class="intro__icon">
                        <i class='bx bx-edit-alt'></i>
                    </div>
                    <h4>Chat</h4>
                    <p>
                        Las empresas y solicitantes podran interactuar entre ellos para hablar mas
                        sobre el puesto y poder discutir algunos terminos.
                    </p>
                    <a href="#">saber mas</a>
                </div>  -->

            </div>
        </section>

        <section class="about">
            <div class="about-content container">
                <div class="about-txt">
                    <h2>Informacion sobre nosotros <br> <span>Proyecto</span></h2>
                    <p>
                        Nuestro proyecto se esta enfocando en el desempeño del area laboral y el crecimiento
                        en el ámbito profesional del solicitante, haciendo mas facil la busqueda de empleos. Para
                        las empresas buscamos que sea mas rápida y organizada la forma de selección.
                    </p>
                </div>
                <div class="about-image">
                    <img src="https://i.pinimg.com/236x/f7/6c/73/f76c73d7d8e60bd090e887d303624a76.jpg" alt="">
                </div>
            </div>
            <div class="about-content container">
                <div class="about-image1">
                    <img src="https://i.pinimg.com/236x/4a/7d/0d/4a7d0dfae5e11fa6d3175af964806857.jpg" alt="">
                </div>
                <div class="about-txt">
                    <h3>Seleccion</h3>
                    <p>
                        Creamos una forma de que la selección de empleados sea fácil para las empresas dependiendo de las habilidades y limitaciones que tienen los solicitantes y las habilidadesd que se requieren para el puesto.
                    </p>
                </div>
            </div>
            <div class="about-content container">
                <div class="about-txt">
                    <h3>Discapacidades</h3>
                    <p>
                        Ofrecemos informacion sobre las discacidades para crear conciencia en lo que pueden afectar
                        y como pueden limitar la oportunidad de opciones.
                    </p>
                </div>
                <div class="about-image">
                    <img src="https://i.pinimg.com/236x/e0/00/7e/e0007e88e992698c7aa92429a800a0cb.jpg" alt="">
                </div>
            </div>
        </section>
    
    
        <section class="number">
            <div class="number-content container">
                <h2 class="seccion-header">Estadisticas</h2>
                <p>
                    Las faltas de trabajo, un mal empleo o mal ambiente laboral para las personas con discapacidad son altas, se busca reducir y ayudar en el proceso de encontrar trabajo a las personas que tengan algun tipo de discapacidad
                </p>
                <div class="number-box">
                    <div class="number-circle">
                        <h3>30%</h3>
                        <p>Falta de oportunidades</p>
                    </div>
                    <div class="number-circle">
                        <h3>16.5%</h3>
                        <p>Personas con discapacidad en México</p>
                    </div>
                    <div class="number-circle">
                        <h3>87%</h3>
                        <p>Trabajos informales</p>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="seccion-container dis__container">
            <h2 class="seccion-header">DISCAPACIDADES</h2>
            <div class="dis__grid">
                <div class="dis__card">
                    <h4>Fisica o Motriz</h4>
                    <p>
                        Afecta la movilidad de una o varias partes del cuerpo, pudiendo limitar el desplazamiento o la
                        ejecución de tareas que requieren movimiento físico.
                    </p>
                </div>
                <div class="dis__card">
                    <h4>Visual</h4>
                    <p>
                        Personas con baja visión, problemas con colores o ceguera total.
                    </p>
                </div>
                <div class="dis__card">
                    <h4>Auditiva</h4>
                    <p>
                        Personas con hipoacusia o sordera total.  Falta, disminución o pérdida de la capacidad para oír en algún lugar del
                        aparato auditivo y no se aprecia porque carece de características física que la evidencien.
                    </p>
                </div>
                <div class="dis__card">
                    <h4>Intelectual</h4>
                    <p>
                        Afecta las funciones cognitivas, limitando la capacidad de
                        aprendizaje, la resolución de problemas y la adaptación a situaciones nuevas.
                    </p>
                </div>
                <div class="dis__card">
                    <h4>Psicosocial o Mental</h4>
                    <p>
                        Afecta las funciones cognitivas, limitando la capacidad de aprendizaje, la
                        resolución de problemas y la adaptación a situaciones nuevas.
                    </p>
                </div>
                <div class="dis__card">
                    <h4>Cognitiva</h4>
                    <p>
                        Afecta la capacidad para procesar información y desarrollar habilidades de forma
                        similar a las personas sin discapacidad. Incluye trastornos del espectro autista
                        (TEA), dislexia, TDAH, etc.
                    </p>
                </div>
                <div class="dis__card">
                    <h4>Multiple</h4>
                    <p>
                        Abarca la combinación de dos o más tipos de discapacidad, como la combinación de discapacidad visual y auditiva.
                    </p>
                </div>
                <div class="dis__card">
                    <h4>Visceral</h4>
                    <p>
                        Afecta órganos internos y sistemas fisiológicos, como personas con enfermedades crónicas (diabetes,
                        insuficiencia renal, etc.) que pueden limitar la capacidad física o la resistencia.
                    </p>
                </div>
                <div class="dis__card">
                    <h4>Comunicativa</h4>
                    <p>
                        Incluye dificultades para comunicarse verbalmente o procesar el lenguaje, como afasia,
                        trastornos del habla o mutismo selectivo.
                    </p>
                </div>
            </div>
        </section>

    {% endif %}



{% endblock %}