{% block content %}

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/login.css">
<center>
  <div class="wrapper">
    <div class="login-box">
      <form method="post">
        <div class="label">
          <label>Introduce el código de verificación enviado a tu correo:</label>
        </div>
        <div class="input-box">
          <input class="input-field" type="text" id="email" name="otp" required>
        </div>
        <div class="input-submit">
          <button class="btn-submit" type="submit">Verificar</button>
        </div>
        <div class="sign-up-link">
          <p>¿No recibiste el código? <a href="/resend_otp">Reenviar código</a></p>
        </div>
        <div class="sign-up-link">
                <p><a href="/" >Regresar al Inicio</a></p>
        <div>
      </form>
    </div>
  </div>
  
</center>

{% endblock %}