{% extends "index.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/tables.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">


<form method="post" action="/edit_company/{{ company[0] }}" enctype="multipart/form-data">

  <section class="tb">
    <section class="table" id="customers_table">
      <div class="table__header">
        <h1>Editar Compañia</h1>
      </div>
      <div class="table__body">
        <table border="1">
          <thead>
            <tr>
              <th>Logo</th>
              <th colspan="2">Datos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="11">
                <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Company Logo" style="width: 10rem; height: 10rem;">
              </td>
            </tr>
            <tr>
              <th>ID</th>
              <td>{{ company[0] }}</td>
            </tr>
            <tr>
              <th>Nombre</th>
              <td><input type="text" name="name" value="{{ company[1] }}"></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><input type="email" name="email" value="{{ company[2] }}"></td>
            </tr>
            <tr>
              <th>Telefono</th>
              <td><input type="text" name="phone" value="{{ company[4] }}"></td>
            </tr>
            <tr>
              <th>Dirección</th>
              <td><input type="text" name="address" value="{{ company[5] }}"></td>
            </tr>
            <tr>
              <th>Estado</th>
              <td><input type="text" name="state" value="{{ company[6] }}"></td>
            </tr>
            <tr>
              <th>Municipio</th>
              <td><input type="text" name="municipality" value="{{ company[7] }}"></td>
            </tr>
            <tr>
              <th>Descripción</th>
              <td><textarea name="description">{{ company[8] }}</textarea></td>
            </tr>
            <tr>
              <th>RFC</th>
              <td><input type="text" name="rfc" value="{{ company[9] }}"></td>
            </tr>
            <tr>
              <th>Uploaded At</th>
              <td>{{ company[12] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>

  <button type="submit">Guardar Cambios</button>
  
</form>

<a href="{{ url_for('viewCompanies') }}" class="back-icon"><img src="/static/img/back-icon.svg" alt="Back" style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem;">Regresar a Compañias</a>

{% endblock %}