{% extends "index.html" %} {% block content %}
<h2>Solicitantes</h2>
<table>
  <thead>
    <tr>
      {% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
      <th>ID</th>
      {% endif %}
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Primer Apellido</th>
      <th>Correo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for applicant in applicants %}
    <tr>
      {% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
      <td>{{ applicant[0] }}</td>
      {% endif %}
      <td>{{ applicant[1] }}</td>
      <td>{{ applicant[2] }}</td>
      <td>{{ applicant[3] }}</td>
      <td>{{ applicant[5] }}</td>
      <td>
        <a href="{{ url_for('details_applicant', applicant_id=applicant[0]) }}">Detalles</a>
        {% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
        <a href="{{ url_for('editApplicantForm', applicant_id=applicant[0]) }}">Editar</a>
        <a href="{{ url_for('delete_applicant', applicant_id=applicant[0]) }}">Borrar</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('home') }}">Regresar a Menu</a>
{% endblock %}