{% extends "index.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/tables.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

<div class="tb">
    <section class="table" id="customers_table">
        <div class="table__header">
            <h1>Administradores</h1>
        </div>  
        <div class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in admins %}
                        <tr>
                            <td>{{ admin[0] }}</td>
                            <td>{{ admin[1] }}</td>
                            <td>{{ admin[2] }}</td>
                            <td>
                                <p class="status delivered">
                                    <a href="{{ url_for('editAdminForm', admin_id=admin[0]) }}">Editar</a>
                                </p>
                            </td>
                            <td>
                                <p class="status cancelled">
                                    <a href="{{ url_for('delete_admin', admin_id=admin[0])  }}">Eliminar</a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>


<a href="{{ url_for('home') }}">Regresar a Menu</a>

{% endblock %}
