{% extends "index.html" %}

{% block content %}

<header id="FAQ">
    <div class="header-container container">
        <div class="header-txt">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </div>
</header>
<section class="seccion-header">
    <div class="nos-content container">
        <div class="nos-txt">
            <h2>¿Qué necesito para registrarme?</h2>
            <p> -Como usuario: 
                Solo se necesita llenar el formulario de registro y verificar su cuenta mediante su correo electrónico.
                
                -Como empresa:
                Se deberá llenar el formulario necesario con todos sus datos, esperar a que los administradores aprueben su página, y como último paso se les cobraría el registro de la empresa en la página, y posterioemente se cobra una mensualidad para mantener la empresa activa dentro de la plataforma.

                -Como Administrador:
                

            </p>
        </div>
        <div class="nos-txt">
            <h2>¿El servicio tiene algún costo?</h2>
            <p>
                
            </p>
        </div>
        <div class="nos-txt">
            <h2>¿En dónde se tiene acceso al servicio?</h2>
            <p>

            </p>
        </div>
        <div class="nos-txt">
            <h2>¿Cuáles son sus planes a futuro?</h2>
            <p>

            </p>
        </div>
    </div>
</section>


{% endblock %}