{% extends "index.html" %}

{% block content %}

<header id="FAQ">
    <div class="header-container container">
        <div class="header-txt">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </div>
</header>
<section class="seccion-header">
    <div class="nos-content container">
        <div class="nos-txt">
            <h2>¿El sitio web tiene un sistema de autenticación?</h2>
            <p>
                Sí, al crear una cuenta, se envía un correo de autenticación a la dirección de correo electrónico ingresada en el registro, mediante el cual, se valida dicha dirección de correo.
            </p>
        </div>
    </div>
    <div class="nos-content container">
        <div class="nos-txt">
            <h2>¿Qué necesito para registrarme?</h2>
            <p> -Como usuario: 
                Solo se necesita llenar el formulario de registro y verificar su cuenta mediante su correo electrónico.
                
                -Como empresa:
                Se deberá llenar el formulario necesario con todos sus datos, esperar a que los administradores aprueben su página, y como último paso se les cobraría el registro de la empresa en la página, y posterioemente se cobra una mensualidad para mantener la empresa activa dentro de la plataforma.

                -Como Administrador:
                Se debe lllenar el formulario correspondiente y esperar que se apruebe su registro por otro administrador para poder acceder a las funciones.

            </p>
        </div>
        <div class="nos-txt">
            <h2>¿El servicio tiene algún costo?</h2>
            <p>
                -Administradores- No habrá cuota para administradores.
                -Usuarios- No habrá cuota para los usuarios.
                -Empresas- Se cobrará una cuota mensual aún no establecida.
            </p>
        </div>
        <div class="nos-txt">
            <h2>¿En dónde se tiene acceso al servicio?</h2>
            <p>
                Actualmente solo se puede utilizar en navegadores web, y por ende en dispositivos con acceso a estos, como computadoras, celulares, tablets, etc.
            </p>
        </div>
        <div class="nos-txt">
            <h2>¿Cuáles son sus planes a futuro?</h2>
            <p>
                Planeamos desarrollar una aplicación móvil para que la plataforma y nuestros servicios tengan mayor alcance.
            </p>
        </div>
        <div class="nos-txt">
            <h2>¿Cómo se almacenan y protegen los datos de los usuarios?</h2>
            <p>
                Se encriptan los datos en una database a la cual no todos los usuarios tienen acceso si no solamente ellos mismos (A sus datos propios) y los administradores.
            </p>
        </div>
        <div class="nos-text">
            <h2>¿Cómo se realiza la conexión entre empresas y personas con discapacidad?</h2>
            <p>
                A través de vacantes de trabajo que son publicadas por la propia empresa y a las cuales los usuarios pueden aplicar según sus preferencias.
            </p>
        </div>
        <div class="nos-text">
            <h2>¿Cómo se gestionan las ofertas de empleo y las postulaciones?</h2>
            <p>
                Las empresas publican una vacante con la cantidad de puestos disponibles para la misma y el perfil de solicitante adecuado, luego los 
                aplicantes pueden revisar las vacantes publicadas por la empresa y pueden aplicar a estas mismas y al hacerlo se envía la información 
                necesaria del solicitante a la empresa que publicó la vacante.
            </p>
        </div>
        <div class="nos-text">
            <h2>¿Qué pasa si un usuario tiene problemas técnicos al usar la plataforma?</h2>
            <p>
                Se encuentra en proceso de planeación un chat donde los usuarios reporten a los administradores problemas encontrados en el sitio.
            </p>
        </div>
        <div class="nos-text">
            <h2>¿Cómo se actualiza el contenido del sitio web?</h2>
            <p>
                Se actualiza de forma automática, pues las páginas de html obtienen información directa y a tiempo real de la base de datos.  
            </p>
        </div>
    </div>
</section>


{% endblock %}