{% extends "index.html" %}

{% block content %}

<header id="FAQ">
    <div class="header-container container">
        <div class="header-txt">
            <h1>Estadísticas</h1>
        </div>
    </div>
</header>
<section class="number">
    <div class="number-content container">
        <h2 class="seccion-header">Estadisticas</h2>
        <p>
            Las faltas de trabajo, un mal empleo o mal ambiente laboral para las personas con discapacidad son altas, se busca reducir y ayudar en el proceso de encontrar trabajo a las personas que tengan algun tipo de discapacidad
        </p>
        <div class="number-box">
            <div class="number-circle">
                <h3>30%</h3>
                <p>Falta de oportunidades</p>
            </div>
            <div class="number-circle">
                <h3>16.5%</h3>
                <p>Personas con discapacidad en México</p>
            </div>
            <div class="number-circle">
                <h3>40%</h3>
                <p>Distribución por hogar: En 14 millones de hogares vive al menos una
                    persona con discapacidad, limitación o condición mental.
                    </p>
            </div>
            <div class="number-circle">
                <h3>87%</h3>
                <p>Trabajos informales</p>
            </div>
            <div class="number-circle">
                <h3>47.6%</h3>
                <p>Discapacitados con dificultad para caminar</p>
            </div>
            <div class="number-circle">
                <h3>43.5%</h3>
                <p>Discapacitados con dificultad para ver</p>
            </div>
            <div class="number-circle">
                <h3>21.9%</h3>
                <p>Discapacitados con dificultad para escuchar</p>
            </div>
            <div class="number-circle">
                <h3>18.9%</h3>
                <p>Discapacitados con dificultad para bañarse, vestirse o comer</p>
            </div>
            <div class="number-circle">
                <h3>18.6%</h3>
                <p>Discapacitados con dificultad para recordar o concentrarse</p>
            </div>
            <div class="number-circle">
                <h3>15.3%</h3>
                <p>Discapacitados con dificultad para hablar o comunicarse</p>
            </div>
            <div>
                <div class="nos-content container">
                    <div class="nos-txt">
                        <H2>Casusas de la discapacidad:</H2>
                    </div>
                </div>
            </div>
            <div class="number-circle">
                <h3>41.2%</h3>
                <p>Enfermedades</p>
            </div>
            <div class="number-circle">
                <h3>27%</h3>
                <p>Edad Avanzada</p>
            </div>
            <div class="number-circle">
                <h3>15.4%</h3>
                <p>Desde el nacimiento</p>
            </div>
            <div class="number-circle">
                <h3>12.2%</h3>
                <p>Accidentes</p>
            </div>
            <div>
                <div class="nos-content container">
                    <div class="nos-txt">
                        <H2>Datos Económicos y Laborales:</H2>
                    </div>
                </div>
            </div>
            <div class="number-circle">
                <h3>Pobreza:</h3>
                <h3>48.6%</h3>
                <p>Personas con discapacidad que viven en la pobreza</p>
            </div>
            <div class="number-circle">
                <h3>38.8%</h3>
                <p>Personas con discapacidad que viven en la pobreza moderada</p>
            </div>
            <div class="number-circle">
                <h3>9.8%</h3>
                <p>Personas con discapacidad que viven en la pobreza extrema</p>
            </div>
            <div class="number-circle">
                <h3>9.8%</h3>
                <p>Personas con discapacidad que viven en la pobreza extrema</p>
            </div>
            <div class="number-circle">
                <h3>Ingresos:</h3>
                <h3>61.3%</h3>
                <p>Equivalente del promedio trimestral de ingresos de las personas con discapacidades ($11,438 pesos)</p>
            </div>
            <div class="number-circle">
                <h3>54.3%</h3>
                <p>De entre el equivalente del promedio trimestral de ingresos de las personas con discapacidades, aquellas 
                    con discapacidad para aprender cosas sencillas solo reciben ($6,209 pesos)</p>
            </div>
            <div class="number-circle">
                <h3>Acceso al trabajo:</h3>
                <h3>44.1%</h3>
                <p>Personas con discapacidad entre 15 y 59 años pertenece a la población Económicamente Activa (PEA).</p>
            </div>
            <div class="number-circle">
                <h3>47.9%</h3>
                <p>Hombres con discapacidad trabaja.</p>
            </div>
            <div class="number-circle">
                <h3>40%</h3>
                <p>Mujeres con discapacidad trabaja.</p>
            </div>
            <div class="number-circle">
                <h3>32.4%</h3>
                <p>Personas con discapacidad tiene contrato laboral.</p>
            </div>
            <div class="number-circle">
                <h3>33.7%</h3>
                <p>Personas con discapacidad que trabajan y cuentan con prestaciones médicas.</p>
            </div>
            <div>
                <div class="nos-content container">
                    <div class="nos-txt">
                        <p>Los datos fueron recopilados por varias instituciones, principalmente:</p>
                        <p>Instituto Nacional de Estadística y Geografía (INEGI) (Censo de Población y Vivienda 2020, ENIGH 2018, ENUT 2019).</p>
                        <p>Consejo Nacional para Prevenir la Discriminación (Conapred) (Encuesta Nacional sobre Discriminación - Enadis 2022).</p>
                        <p>Consejo Nacional de Evaluación de la Política de Desarrollo Social (Coneval) (Medición de la Pobreza 2018)</p>
                        <p>https://www.conapred.org.mx/wp-content/uploads/2023/11/FT_PDiscapacidad_2023.pdf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}