{% block content %}

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/chat.css">

<div class="chat-preview-container">
  <h2>Chats</h2>
  <ul class="chat-list">
    {% for message in messages %}
    <li class="chat-item">
      <a href="/viewChat?sender={% if g.user == message[1] %}{{ message[2] }}{% else %}{{ message[1] }}{% endif %}" class="chat-link">
        <div class="chat-avatar">
          <img src="/static/images/avatar1.png" alt="User Avatar">
        </div>
        <div class="chat-info">
          <h3 class="chat-name">
            {% if g.user == message[1] %}
              {{ message[2] }}
            {% else %}
              {{ message[1] }}
            {% endif %}
          </h3>
          <p class="chat-last-message">
            {% if g.user == message[1] %}
              You:
            {% else %}
              {{ message[1] }}:
            {% endif %}
            {{ message[3] }}
          </p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}
