{% extends "index.html" %} {% block content %}
<h2>Applicant Details</h2>
<table>
  {%if session['role'] == 'superadmin' or session['role'] == 'admin' %}
  <tr>
    <th>ID</th>
    <td>{{ applicant[0] }}</td>
  </tr>
  {% endif %}
  <tr>
    <th>Usuario</th>
    <td>{{ applicant[1] }}</td>
  </tr>
  <tr>
    <th>Nombre</th>
    <td>{{ applicant[2] }}</td>
  </tr>
  <tr>
  <tr>
    <th>Primer Apellido</th>
    <td>{{ applicant[3] }}</td>
  </tr>
  <tr>
    <th>Segundo Apellido</th>
    <td>{{ applicant[4] }}</td>
  </tr>
    <th>Email</th>
    <td>{{ applicant[5] }}</td>
  </tr>
  <tr>
    <th>Edad</th>
    <td>{{ applicant[7] }}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{ applicant[8] }}</td>
  </tr>
  <tr>
    <th>Dirección</th>
    <td>{{ applicant[9] }}</td>
  </tr>
  <tr>
    <th>Estado</th>
    <td>{{ applicant[10] }}</td>
  </tr>
  <tr>
    <th>Municipio</th>
    <td>{{ applicant[11] }}</td>
  </tr>
  <tr>
    <th>Contacto de Emergencia</th>
    <td>{{ applicant[14] }}</td>
  </tr>
  <tr>
    <th>Parentezco</th>
    <td>{{ applicant[15] }}</td>
    </tr>
  <tr>
    <tr>
      <th>Discapacidad</th>
      <td>{{ disabilities[2] }}</td>
      </tr>
    <tr>
    <th>Uploaded At</th>
    <td>{{ applicant[17] }}</td>
  </tr>
</table>
<a href="{{ url_for('viewApplicants') }}">Regresar a Applicantes</a>
{% endblock %}