{% extends "index.html" %} {% block content %}
<h2>Applicant Details</h2>
<table>
  {%if session['role'] == 'superadmin' or session['role'] == 'admin' %}
  <tr>
    <th>ID</th>
    <td>{{ applicant[0] }}</td>
  </tr>
  {% endif %}
  <tr>
    <th>Nombre</th>
    <td>{{ applicant[1] }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ applicant[2] }}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{ applicant[3] }}</td>
  </tr>
  <tr>
    <th>Fecha de Nacimiento</th>
    <td>{{ applicant[5] }}</td>
  </tr>
  <tr>
    <th>Genero</th>
    <td>{{ applicant[6] }}</td>
  </tr>
  <tr>
    <th>Estado</th>
    <td>{{ applicant[7] }}</td>
  </tr>
  <tr>
    <th>Municipio</th>
    <td>{{ applicant[8] }}</td>
  </tr>
  <tr>
    <th>Descripción</th>
    <td>{{ applicant[9] }}</td>
  </tr>
  <tr>
    <th>CV</th>
    </tr>
  <tr>
    <th>Uploaded At</th>
    <td>{{ applicant[12] }}</td>
  </tr>
  <tr>
    <th>Imagen</th>
    
    </tr>
</table>
<a href="{{ url_for('viewApplicants') }}">Regresar a Applicantes</a>
{% endblock %}