{% extends "index.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/tables.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

<section class="tb">
  <section class="table" id="customers_table">
    <div class="table__header">
      <h1>Detalles de Compañia</h1>
    </div>
    <div class="table__body">
      <table border="1">
        <thead>
          <th>Logo</th>
          <th colspan="2">Datos</th>
        </thead>
        <tbody>
          <tr>
            {%if session['role'] == 'superadmin' or session['role'] == 'admin' %}
              <td rowspan="11">
                <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Company Logo" style="width: 10rem; height: 10rem;">
              </td>
            {%else%}
              <td rowspan="8">
                <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Company Logo" style="width: 10rem; height: 10rem;">
              <td>
            {% endif %}
          {%if session['role'] == 'superadmin' or session['role'] == 'admin' %}
            </tr>
              <tr>
                <th>ID</th>
                <td>{{ company[0] }}</td>
              </tr>
            <tr>
          {% endif %}
            <th>Nombre</th>
            <td>{{ company[1] }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ company[2] }}</td>
          </tr>
          <tr>
            <th>Telefono</th>
            <td>{{ company[4] }}</td>
          </tr>
          <tr>
            <th>Dirección</th>
            <td>{{ company[5] }}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{ company[6] }}</td>
          </tr>
          <tr>
            <th>Municipio</th>
            <td>{{ company[7] }}</td>
          </tr>
          <tr>
            <th>Descripción</th>
            <td>{{ company[8] }}</td>
          </tr>
          {%if session['role'] == 'superadmin' or session['role'] == 'admin' %}
            <tr>
              <th>RFC</th>
              <td>{{ company[9] }}</td>
            </tr>
            <tr>
              <th>Uploaded At</th>
              <td>{{ company[12] }}</td>
            </tr>
          {% endif %}
        </tbody> 
      </table>
    </div>
  </section>
</section>

<a href="{{ url_for('viewCompanies') }}" class="back-icon"><img src="/static/img/back-icon.svg" alt="Back" style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem;">Regresar a Compañias</a>
{% endblock %}