{% extends "index.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/tables.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">



<form method="post" action="/edit_applicant/{{ applicant[0] }}" enctype="multipart/form-data">
  <section class="tb">
    <section class="table" id="customers_table">
      <div class="table__header">
        <h1>Editar Solicitante</h1>
      </div>
      <div class="table__body">
        <table border="1">
          <thead>
            <tr>
              <th>Foto</th>
              <th colspan="2">Detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="_____">
                <img src="{{ url_for('static', filename='uploads/' + applicant[6]) }}" alt="Foto de Solicitante" width="200">
              </td>
            </tr>
            <tr>
              <th>ID</th>
              <td>{{ applicant[0] }}</td>
            </tr>
            <tr>
              <th>Usuario</th>
              <td><input type="text" name="username" value="{{ applicant[1] }}"></td>
            </tr>
            <tr>
              <th>Nombre</th>
              <td><input type="text" name="name" value="{{ applicant[2] }}"></td>
            </tr>
            <tr>
              <th>Primer Apellido</th>
              <td><input type="text" name="firstname" value="{{ applicant[3] }}"></td>
            </tr>
            <tr>
              <th>Segundo Apellido</th>
              <td><input type="text" name="secname" value="{{ applicant[4] }}"></td>
            </tr>
            <tr>
              <th>Correo</th>
              <td><input type="email" name="email" value="{{ applicant[5] }}"></td>
            </tr>
            <tr>
                <th>Edad</th>
                <td><input type="number" name="age" value="{{ applicant[7] }}"></td>
            </tr>
            <tr>
              <th>Telefono</th>
              <td><input type="text" name="phone" value="{{ applicant[8] }}"></td>
            </tr>
            <tr>
              <th>Dirección</th>
              <td><input type="text" name="address" value="{{ applicant[9] }}"></td>
            </tr>
            <tr>
              <th>Estado</th>
              <td><input type="text" name="state" value="{{ applicant[10] }}"></td>
            </tr>
            <tr>
              <th>Municipio</th>
              <td><input type="text" name="municipality" value="{{ applicant[11] }}"></td>
            </tr>
            <th>Discapacidades</th>
            <td>
              <select name="disability" id="disability" class="input-field">
                <option value="">-- Seleccionar discapacidad --</option>
                {% for disability in disabilities %}
                <option value="{{disability[0]}}">{{disability[1]}}</option>
                {% endfor %}
              </select>
            </td>
            <tr>
              <th>Uploaded At</th>
              <td>{{ applicant[17] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>
    
  <button type="submit">Guardar Cambios</button>

</form>

<a href="{{ url_for('viewApplicants') }}">Regresar a Applicantes</a>

{% endblock %}
