{% extends "index.html" %} {% block content %}
<h2>Compañias</h2>
<table>
  <thead>
    <tr>
      {% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
      <th>ID</th>
      {% endif %}
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for company in companies %}
    <tr>
      {% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
      <td>{{ company[0] }}</td>
      {% endif %}
      <td>{{ company[1] }}</td>
      <td>{{ company[4] }}</td>
      <td>
        <a href="{{ url_for('details_company', company_id=company[0]) }}">Detalles</a>
        {% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
        <a href="{{ url_for('editCompanyForm', company_id=company[0]) }}">Editar</a>
        <a href="{{ url_for('delete_company', company_id=company[0]) }}">Borrar</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('home') }}">Regresar a Menu</a>
{% endblock %}
