{%block content%}
<link rel="stylesheet" href="/static/css/style.css">
<h2>Agregar Vacante</h2>

<form method="post" action="/createVacancyProcess" enctype="multipart/form-data">
  {% if mensaje1 %} 
  {{mensaje1}}
  {% endif %}
  <table>
    <tr>
      <th>Nombre del Puesto</th>
      <td><input type="text" name="name"></td>
    </tr>
    <tr>
      <th>Descripción</th>
      <td><textarea name="description"></textarea></td>
    </tr>
    <tr>
      <th>Salario</th>
      <td><input type="text" name="salary"></td>
    </tr>
    <tr>
      <th>Empresa</th>
      {%if session['role'] == 'superadmin' or session['role'] == 'admin' %}
      <td>
        <select name="company_id">
          {% for company in companies %}
          <option value="{{ company[0] }}">{{ company[1] }}</option>
          {% endfor %}
        </select>
      </td>
      {% else %}
      <td>{{ g.user }}</td>
      {% endif %}
    </tr>
    <tr>
      <th>Estado</th>
      <td><input type="text" name="state"></td>
    </tr>
    <tr>
      <th>Municipio</th>
      <td><input type="text" name="municipality" id="municipality"></td>
    </tr>
    <tr>
      <th>Numero de vacantes</th>
      <td><input type="number" name="numbervacancy"></td>
    </tr>
    <tr>
      <th>Discapacidad</th>
      <td>
        <select name="disability" id="disability" class="input-field">
          <option value="">-- Seleccionar discapacidad --</option>
          {% for disability in disabilities %}
          <option value="{{disability[0]}}">{{disability[1]}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>
  <button type="submit">Agregar Vacante</button>

</form>  
<a href="{{ url_for('viewVacancies') }}" class="back-icon"><img src="/static/img/back-icon.svg" alt="Back" style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem;">Regresar a Vacantes</a>
<br>
<a href="{{ url_for('home') }}" class="back-icon"><img src="/static/img/back-icon.svg" alt="Back" style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem;">Regresar a Inicio</a>
{%endblock%}