{% extends "index.html" %}

{% block content %}
<h2>Company Details</h2>
<table>
  <tr>
    <th>ID</th>
    <td>{{ company[0] }}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{ company[1] }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ company[2] }}</td>
  </tr>
  <tr>
    <th>Phone</th>
    <td>{{ company[4] }}</td>
  </tr>
  <tr>
    <th>Address</th>
    <td>{{ company[5] }}</td>
  </tr>
  <tr>
    <th>State</th>
    <td>{{ company[6] }}</td>
  </tr>
  <tr>
    <th>Municipality</th>
    <td>{{ company[7] }}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{ company[8] }}</td>
  </tr>
  <tr>
    <th>RFC</th>
    <td>{{ company[9] }}</td>
  </tr>
  <tr>
    <th>Logo</th>
    <td><img src="data:image/png;base64,{{ imagen_base64 }}" alt="Company Logo" style="width: 10rem; height: 10rem;"></td>
  </tr>
  <tr>
    <th>Uploaded At</th>
    <td>{{ company[12] }}</td>
  </tr>
</table>
<a href="{{ url_for('viewCompanies') }}">Back to Companies</a>
{% endblock %}