{% extends "index.html" %} {% block content %}
<h2>Editar Vacante</h2>
<form method="post" action="/edit_vacant/{{ vacancy[0] }}" enctype="multipart/form-data">

  <table>
    {%if session['role'] == 'superadmin' or session['role'] == 'admin' %}
    <tr>
      <th>ID</th>
      <td>{{ vacancy[0] }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Nombre</th>
      <td><input type="text" name="name" value="{{ vacancy[1] }}"></td>
    </tr>
    <tr>
      <th>Descripción</th>
      <td><textarea name="description" value="{{ vacancy[2]" }}></textarea></td>
    </tr>
    <tr>
      <th>Salario</th>
      <td><input type="text" name="salary" value="{{ vacancy[3] }}"></td>
    </tr>
    <tr>
      <th>Empresa</th>
      {%if session['role'] == 'superadmin' or session['role'] == 'admin' %}
      <td>
        <select name="company_id">
          {% for company in companies %}
          <option value="{{ company[0] }}">{{ company[1] }}</option>
          {% endfor %}
        </select>
      </td>
      {% else %}
      <td>{{ g.user }}</td>
      {% endif %}
    </tr>
    <tr>
      <th>Estado</th>
      <td><input type="text" name="state" value="{{ vacancy[5] }}"></td>
    </tr>
    <tr>
      <th>Municipio</th>
      <td><input type="text" name="municipaly" value="{{ vacancy[6] }}"></td>
    </tr>
    <tr>
      <th>Numero de vacantes</th>
      <td><input type="number" name="numbervacancy" value="{{ vacancy[7] }}"></td>
    </tr>
    <tr>
      <th>Discapacidad</th>
      <td>
        <select name="disability_id">
          {% for disability in disabilities %}
          <option value="{{ disability[0] }}">{{ disability[1] }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>
  <button type="submit">Guardar Cambios</button>
  <a href="{{ url_for('viewVacancies') }}">Regresar a Vacantes</a>
{% endblock %}