{% extends "index.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/tables.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

<div class="tb">
    <section class="table" id="customers_table">
        <div class="table__header">
            <h1></h1>
        </div>
        <div class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Video</th>
                        <th colspan="3">Acciones</th>
                    </tr>
                </thead>
                <tbody><!--
                    {% for video in videos %}
                    <tr>
                        <td>{{ video[1] }}</td>
                        <td>{{ video[2] }}</td>
                        <td>
                            <video width="320" height="240" controls>
                                <source src="{{ video[3] }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </td>
                    </tr>
                    {% endfor %}-->
                </tbody>
            </table>
        </div>
    </section>
</div>


{% endblock %}