{% extends "index.html" %} {% block content %}

<h2>Vacantes</h2>
<table>
  <thead>
    <tr>
      {% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
        <th>ID</th>
      {% endif %}
      {% if session['role'] == 'superadmin' or session['role'] == 'admin' or session['role'] == 'applicant' %}
        <th>Compañia</th>
      {% endif %}
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Salario</th>
      <th>Discapacidad</th>
      <th colspan="4">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for vacancy in vacancies %}
      {% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
        <tr>
          <td>{{ vacancy[0] }}</td>
          {% for company in companies %}
            {% if company[0] == vacancy[1] %}
              <td>{{ company[1] }}</td>
            {% endif %}
          {% endfor %}
          <td>{{ vacancy[4] }}</td>
          <td>{{ vacancy[5] }}</td>
          <td>{{ vacancy[6] }}</td>
          {% for disability in disabilities %}
            {% if disability[0] == vacancy[2] %}
              <td>{{ disability[1] }}</td>
            {% endif %}
          {% endfor %}
          
          <td>
            <a href="{{ url_for('details_vacancies', vacancy_id=vacancy[0]) }}">Detalles</a>
            <a href="{{ url_for('editVacantForm', vacancy_id=vacancy[0]) }}">Editar</a>
            <a href="{{ url_for('delete_vacancy', vacancy_id=vacancy[0]) }}">Borrar</a>
            <a href="{{ url_for('viewApplicantsVacancy', vacancy_id=vacancy[0])}}">Ver aplicantes</a>
          </td>
        </tr>
      {% elif session['role'] == 'company' %}
        <tr>
          <td>{{ vacancy[4] }}</td>
          <td>{{ vacancy[5] }}</td>
          <td>{{ vacancy[6] }}</td>
          <td>{{ disabilities[2] }}</td>
          <td>
            <a href="{{ url_for('details_vacancies', vacancy_id=vacancy[0]) }}">Detalles</a>
            <a href="{{ url_for('editVacantForm', vacancy_id=vacancy[0]) }}">Editar</a>
            <a href="{{ url_for('delete_vacancy', vacancy_id=vacancy[0]) }}">Borrar</a>
            <a href="{{ url_for('viewApplicantsVacancy', vacancy_id=vacancy[0])}}">Ver aplicantes</a>
          </td>
        </tr>
      {%else%}
        <tr>
          {% for company in companies %}
            {% if company[0] == vacancy[1] %}
              <td>{{ company[1] }}</td>
            {% endif %}
          {% endfor %}
          <td>{{ vacancy[4] }}</td>
          <td>{{ vacancy[5] }}</td>
          <td>{{ vacancy[6] }}</td>
          {% for disability in disabilities %}
            {% if disability[0] == vacancy[2] %}
              <td>{{ disability[1] }}</td>
            {% endif %}
          {% endfor %}
          <td>
            <a href="{{ url_for('details_vacancies', vacancy_id=vacancy[0]) }}">Detalles</a>
            <a href="{{ url_for('aplicateApplicants', vacancy_id=vacancy[0]) }}">Aplicar</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% if session['role'] == 'superadmin' or session['role'] == 'admin' or session['role'] == 'company' %}
<a href="{{ url_for('createVacancy') }}">Agregar Vacante</a>
{% endif %}
<br>
<a href="{{ url_for('home') }}">Regresar a Inicio</a>

{% endblock %}