{% extends "index.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/tables.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

<div class="tb">
    <section class="table" id="customers_table">
        <div class="table__header">
            <h1></h1>
        </div>
        <div class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Puesto</th>
                        <th>Descripción</th>
                        <th>Salario</th>
                        <th>Empresa</th>
                        <th colspan="4">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vacancy in vacancies %}
                    <tr>
                        <td>{{ vacancy[0] }}</td>
                        <td>{{ vacancy[1] }}</td>
                        <td>{{ vacancy[2] }}</td>
                        <td>{{ vacancy[3] }}</td>
                        <td>{{ vacancy[4] }}</td>
                        <td><button onclick="ViewAplicantsVacancy('{{ vacancy[0] }}')" class="btn btn-primary">Ver Aplicantes</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        ++
</div>

{% endblock %}